.recipe {
  display: flex;
  margin: 0px 30px;
  align-items: flex-start;

  .recipeLeftCol {
    margin-right: 30px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;

    .recipeTextData {
      display: flex;
    }
  }
  .recipeRightCol {
  }
}

@media all and (max-width: 992px) {
  .recipe {
    display: flex;
    flex-direction: column;

    .recipeRightCol {
      margin-top: 20px;
    }
  }
}
