.selectedRecipes {
}

.recipeHolder {
  display: flex;
  button {
    margin-right: 10px;
  }
}

.recipeRemoveButton {
  display: flex;
  button {
    height: 25px;
    padding: 0px;
    width: 21px;
    //margin: 0px;
  }
}
